nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.py-3
	.container
		a.navbar-brand(href='/') SWRPG
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
			span.navbar-toggler-icon
		ul.navbar-nav
			li.nav-item.mr-3
				a.nav-link(href='/signup') Signup
			li.nav-item
				a.btn.btn-primary(href='/login') Login
