html {
	font-size: 10px;
}

body {
	font-family: $sans;
	font-size: 1.6rem;
	color: #333;
}

h1 {
	font-size: 6rem;
}

h2 {
	font-size: 5rem;
}

h3 {
	font-size: 4rem;
}

h4 {
	font-size: 3rem;
}

h5 {
	font-size: 2rem;
}
